<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form id="experience" method="post" action="/send">
        <div>
          <h3>Share your Experiences</h3>
          <label for="usrnm" class="ui-hidden-accessible">Nickname</label>
          <input type="text" name="user" id="usrnm" placeholder="Nickname">
          <label for="age" class="ui-hidden-accessible">Password:</label>
          <input type="text" name="age" id="age" placeholder="age">
          <label for="experience" class="ui-hidden-accessible">experience</label>
          <input type="text" name="experience" id="exp" placeholder="Share your experience here" style="height: 200px">
          <input type="submit" value="Submit"/><br />
        </div>
      </form>
  </body>
</html>
