<main class="templateContainer" style="text-align: center; margin-top: 50px;">
<h1 style="padding-bottom: 40px;">Welcome to Click sergent</h1>
  <form class="userForm">
    <div class="form-group">
      <label for="exampleInputEmail1">What is your name?</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">What is your age range?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>0-11</option>
        <option>12-15</option>
        <option>16-18</option>
        <option>19+</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">What type of cancer do you have?</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <a href="/#community"><button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</main>
